@import "./colors.css";

window {
	background-color: rgba(1, 1, 1, 0.55);

}

button {
	border: solid 2px lighter(@color14);
	color: @color0;

	background-color: @color6;
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: center;
	font-size: 1.2rem;

	animation: gradient_f 20s ease-in infinite;
}

button:focus {
	background-color: alpha(@color13, 255);
	color: @color7;
	background-size: 20%;
}

button:hover {
	background-color: alpha(@color13, 0.5);
	color: @color7;

	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

#lock {
	background-image: image(url("./assets/lock.svg"), url("/usr/share/wlogout/icons/lock.png"));
	margin: 5px 5px;
}

#logout {
	background-image: image(url("./assets/logout.svg"), url("/usr/share/wlogout/icons/logout.png"));
	margin: 5px 5px;
}

#shutdown {
	background-image: image(url("./assets/shutdown.svg"), url("/usr/share/wlogout/icons/shutdown.png"));
	margin: 5px 5px;
}

#reboot {
	background-image: image(url("./assets/reboot.svg"), url("/usr/share/wlogout/icons/reboot.png"));
	margin: 5px 5px;
}
